* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    --primary: rgb(22 110 63);
    --primary-light: rgb(38 189 108);
    --primary-dark: rgb(22 110 63);
    --tooltip-foreground: rgb(255 255 255);
    --background-light: rgb(255 255 255);
    --background-dark: rgb(10 13 13);
    --gray-50: rgb(243 246 244);
    --gray-100: rgb(238 241 239);
    --gray-200: rgb(223 225 224);
    --gray-300: rgb(206 209 207);
    --gray-400: rgb(159 161 160);
    --gray-500: rgb(112 115 113);
    --gray-600: rgb(80 83 81);
    --gray-700: rgb(63 65 64);
    --gray-800: rgb(38 40 39);
    --gray-900: rgb(23 26 24);
    --gray-950: rgb(10 13 12);
    }

:root {
  --font-family-headings-custom: "Google Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
  
  --font-family-body-custom: "Google Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
  
}


body{
    background-color: var(--gray-50);
    padding: 12px 0 12px 28px;
    overflow: hidden;
    
}


.main-container{
    display: grid;
    width: 100%;
    height: 9%;
    margin-bottom: 40px;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    grid-template-areas:
        "header header"
        "sidebar maincontent";
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    font-weight: 500;
    font-size: 14px;
    font-family: Inter;
    margin-bottom: 20px;
    padding: 0 28px;
}



.sidebar{
    grid-area: sidebar;
    max-width: 14rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Inter;
    height: 90vh;
}

.content-area{
    grid-area: maincontent;
    background-image: url(https://mintcdn.com/mintlify/dr8jV1oYIkkUJaB8/images/hero/background-light.svg?w=2500&fit=max&auto=format&n=dr8jV1oYIkkUJaB8&q=85&s=ecee4a35813e4c224dcc5bc3ba96e3d0);
    background-size: contain;
    background-position: -20px -54px;
    background-repeat: no-repeat;
    height: 90vh;
    background-color: #fff;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--gray-100);
    overflow-y: auto;
    width: 100%;
    margin-bottom: 20px;
}

.top-right{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.top-right a{
    text-decoration: none;   
}

.guides, .api{
    color: #505351;
    font-weight: 520;
}

.documentation{
    color: rgba(0, 0, 0, 0.858);
    font-weight: 700;
}

.talktous{
    padding: 8px 12px;
    background-color: #ffff;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    color: var(--gray-600);
    font-weight: 550;
    font-family: Inter;
}

.getstarted{
    padding: 8px 12px;
    background-color: var(--primary-dark);
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    color: #FFFF;
    font-weight: 550;
    font-family: Inter;
}


.search-box{
  position: relative;
  width: 90%;
}

.search-box input{
  width: 90%;
  padding: 8px 10px 8px 34px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

.search-icon{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #000000;
}

.documentation-content{
    font-weight: 540;
    font-size: 2.2rem;
}

.right-top{
    padding: 180px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.text-content{
    color: var(--gray-500);
    font-size: 1.15rem;
}

.scroll-sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-links a{
    display: block;
    text-decoration: none;
    color: var(--gray-600);
    font-size: 14px;
    padding: 8px 10px;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 20px;
    justify-content: center;

}

.sidebar-links li:hover{
    background-color: #50535115;
    border-radius: 10px;
}

.right-middle{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}

.card{

    width: 356px;
    height: 335px;
}

.card img:hover{
    transform: scale(1.05);
    transition: all ease 0.3s;
    font-family: Inter;
}

.card a{
    text-decoration: none;

}

.card-heading{
    color: #000000;
}

.card-text{
    color: var(--gray-500);
}




